.footer {
    display: flex;
    justify-content: center;
    background-color: $accent-color;
    max-height: 200px;
    margin-top: 10rem;
}

.footer a {
    text-decoration: none;
    font-size: $magic-number;
    position: relative;
    top: 0.5em;
    left: 30rem;
}

@media screen and (max-width: 960px) {
    .footer {
        gap: 5rem;
    }

    .footer a {
        left: 0;
        gap: 2em;
    }
}
