.footer {
    display: flex;
    background-color: $accent-color;
    max-height: 200px;
    margin-top: 10rem;
    border-top: 8px solid #A1450C;
    justify-content: space-between;
    padding: $magic-number;
    align-items: center;
}

.footer a {
    text-decoration: none;
    font-size: 2.5rem;
    color: $font-alternative-color;
}

.footer p {
    color: $font-alternative-color;
    font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
    .footer p{
        font-size: $base-font-size;
    }

    .footer a {
        font-size: 2rem;
    }
}
