.header {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 0 auto;
    justify-content: center;
    gap: 15rem;
}

.site-header {
    display: flex;
}

@media screen and (max-width: 64em) {
    .header {
        gap: 0;
    }

    .site-header {
        gap: 0;
    }

    .title {
        h1 {
            font-size: 1.5em;
        }
    }
}
