.nav {
    font-weight: bolder;
}

.nav a:hover {
    text-decoration: none;
}

.active {
    background-color: $accent-color;
    text-align: center;
    min-width: 3em;
    border-radius: 3px;
}

.active a {
    text-decoration: none;
}