.nav {
    a {
        text-decoration: none;
    }
}

.nav a:hover {
    color: $accent-color;
    // border-bottom: 1px solid $font-color;
}

.active {
    a {
        border-bottom: 1px solid $font-color;
    }
}
