.nav {
    font-weight: bolder;
}

.nav a:hover {
    text-decoration: none;
}

.active {
    background-color: $accent-color;
    border-radius: 3px;
    
    a {
        text-decoration: none;
    }
}
