@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';
@import 'base';

@import 'header';
@import 'typography';
@import 'footer';
@import 'nav';

@import 'table';
@import 'technologies';
@import 'technology';
@import 'reports';

@import 'blockquotes';
@import 'code';

@import 'test';

* {
    color: $font-color;
}

.nav a, 
a h1, 
a i {
    color: $font-alternative-color;
}

code {
    color: $background-color;
}