$font-color: #222;
$font-alternative-color: #ce7023;
$font-alternative-strong: #9c551a;
$accent-color: #ee7023;
$background-color: #e0fbfc;
$background-alternative-color: #e0fbfc;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
