$font-color: #fff;
$font-alternative-color: #ccc;
$font-alternative-strong: #ccc;
$accent-color: #5e4242;
$background-color: #121212;
$background-alternative-color: #ffffff;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;
